.projects {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 120px;

  @media (--mediaTablet) {
    padding-top: 90px;
  }

  @media (--mediaMobile) {
    padding-top: 80px;
  }
}

